<li class='item' data-id='{{id}}'>
  <div class='thumb'><img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='' /></div>
  <div>
    <p class='item__title'>
      {{original_title}}
    </p>
    <p class='item__genre'>{{genreWithNames}}
      |
      {{release_year}}</p>
  </div>
</li>